body {
  margin: 0;
  padding: 0;
  font-family: "Popins", sans-serif;
  background-image: radial-gradient(circle at 62% 44%, #53cbf3, #5801bc);
}

#root {
  min-height: 100vh;
}


button {
  border-radius: 16px;
  background-color: #14c1a4;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border: 0;
  color: #fff;
  font-size: 16px;
  transition: background-color 200ms ease;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}

button+button {
  margin-left: 8px;
}

button:hover,
button:focus,
button.active {
  background-color: #8653f3;
}